.products-page {
  padding: 20px 50px 10px 50px;
  background-color: none !important;
}
.content {
  display: flex;
}

.sidebar {
  border: 1px solid black;
}

.products-list {
  justify-content: space-between;
  margin-left: 20px;
}
